<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.indeema.realmbrowser">

    <application
        android:label="@string/app_name">

        <activity
            android:name=".activities.TableItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>

        <activity
            android:name=".activities.FilesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>

        <activity
            android:name=".activities.TablesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>

        <activity
            android:name=".activities.EditItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />

    </application>

</manifest>
